<div class="content_post" style="background-image: url(<%= tweet.image %>);">
  <% if user_signed_in? && current_user.already_favorited?(tweet) %>
      <i class="fas fa-heart" style="color: red;"></i>
    <span style="color: red;"></span>
  <% else %>
      <i class="far fa-heart"></i>
  <% end %>
  <% if user_signed_in? && current_user.already_liked?(tweet) %>
       <i class="fas fas fa-star" style="color: blue;"></i>
    <span style="color: blue;"></span>
  <% else %>
      <i class="far fas fa-star"></i>
  <% end %>
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
      </li>
      <% if user_signed_in? && current_user.id == tweet.user_id %>
        <li>
          <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <p><%= tweet.text %></p>
  <span class="name">
    <a href="/users/<%= tweet.user.id %>">
      <span>投稿者</span><%= tweet.user.nickname %>
    </a>
  </span>
</div>